<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type = "text/css" href = "static/Login.css">
</head>
<body>
    <table>
        
        <tbody>
            <div class= "index">
                <tr>
                    <td class= "index">Users</td>
                    <td class= "data">
                        <input type='text' id= 'user'>
                    </td>
                </tr>
                <tr>
                    <td class= "index">Password</td>
                    <td class= "data">
                        <input type='password' id='pass'><br>
                    </td>
                </tr>
                
                <tr><td id='button'colspan=2><button class= "button", colspan="2">LOGIN</button></td></tr>
                
                
                <tfoot>
                    <td class="error", colspan="2"></td>
                </tfoot>
            </div>
            
        </tbody>
    </table>
    <script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type= 'text/javascript', src= 'static/login.js'></script>
</body>
</html>